# **Import Data**

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

lokasi = "/content/drive/MyDrive/Colab Notebooks/Project_Credit Risk Model/lc_2016_2017.csv"
loan_data = pd.read_csv(lokasi)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# **Target Variable dan Missing Value**

In [4]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [5]:
loan_data.shape

(759338, 72)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

## **Target Varaible**

**Mengambil kolom Loan_status dan mengubah variable menjadi,  
0 = Tepat Waktu,  
1= Telat Membayar**

In [7]:
loan_data.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [8]:
loan_data['good_bad']=np.where(loan_data.loc[:,'loan_status'].isin(['Late (31-120 days)', 'Late (16-30 days)', 
                                                                'Charged Off', 'Default']),1,0)

In [13]:
loan_data.good_bad.value_counts()

0    702875
1     56463
Name: good_bad, dtype: int64

In [14]:
loan_data[['loan_status','good_bad']]

              loan_status  good_bad
0                 Current         0
1                 Current         0
2                 Current         0
3                 Current         0
4                 Current         0
...                   ...       ...
759333            Current         0
759334            Current         0
759335  Late (16-30 days)         1
759336            Current         0
759337            Current         0

[759338 rows x 2 columns]

## **Missing Value**

In [15]:
missing_values=pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0]) #Menghitung Jumlah Missing Values

In [17]:
missing_values=missing_values[missing_values.iloc[:,0] > 0.5] # Memfilter data kosong yang lebih dari 50%

In [18]:
missing_values.sort_values([0],ascending=False) #Mengurutkan data yang yang kosong dari yang paling tinggi

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [20]:
loan_data.dropna(thresh=loan_data.shape[0]*0.5, how='all', axis=1, inplace=True) #Mengahpus kolom yang berisi kosong lebih dari 50%

In [21]:
missing_values=pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])
missing_values=missing_values[missing_values.iloc[:,0] > 0.5]
missing_values.sort_values([0],ascending=False)

Empty DataFrame
Columns: [0]
Index: []